<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetoheadsup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaResu"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".TelaJogoPersonalizado"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TelaJogoDificil"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TelaJogoFacil"
            android:screenOrientation="landscape" />
        <activity android:name=".TelaInfo4" />
        <activity android:name=".TelaInfo3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TelaJogoNormal"
            android:screenOrientation="landscape" />
        <activity android:name=".TelaConfig6" />
        <activity android:name=".TelaConfig5" />
        <activity android:name=".TelaConfig4" />
        <activity android:name=".TelaConfig3" />
        <activity android:name=".TelaConfig2" />
        <activity android:name=".TelaInfo2" />
        <activity android:name=".TelaModo" />
        <activity android:name=".TelaMenu" />
        <activity android:name=".TelaJogo" />
        <activity android:name=".TelaInfo" />
        <activity android:name=".TelaConfig" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>